.grid {
  display: grid;
  background-color: gainsboro;
  grid-template-rows: 20% 250px 20%;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "header header header"
    "sidebar main_content main_content"
    "footer footer footer";
}

.grid > div {
  background-color: gray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main_content {
  grid-area: main_content;
}

.footer {
  grid-area: footer;
}
