#assignment-instructions {
  color: darkgray;
  font-family: Sans-Serif;
}

code {
  color: red;
  font-family: monospace;
}

.green-text code {
  color: green;
}

body {
  font-family: Sans-Serif;
}

li {
  font-family: inherit;
}
